<html>
  	<head>
      	<title>黃鼎勲個人網頁</title>
      	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"></link>
		<style>body {background-image: url('../static/back.jpg');}</style>
  	</head>
	<div class="container">
		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
				<span class="fs-4"><h2>相關競賽作品集</h2></span>
			</a>

			<div class="col-md-3 text-end">
				<button type="button" class="btn btn-primary"><a href="https://tbrain.trendmicro.com.tw/" target="_blank" class="nav-link active">競賽網站</a></button>
				<button type="button" class="btn btn-primary"><a href="https://github.com/DingHsun/" target="_blank" class="nav-link active">我的 GitHub 網站</a></button>
			</div>
		</header>
	</div>
	<body>
		<div class="container px-5 py-5" id="hanging-icons">
			<div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
				<div class="col d-flex align-items-start">
					<div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
						<img class="d-block mx-auto mb-4" src="../static/chinasteel_Icon.png" alt="" width="50" height="50">
					</div>
					<div>
						<h3 class="fs-2">中鋼人工智慧挑戰賽-字元辨識</h3>
						<p>中鋼50年來致力於鋼鐵產業，有舉足輕重的地位，為世界知名鋼鐵廠。隨著人工智慧科技在許多領域已超越人類智能，中鋼放眼下一個50年的發展，已定調「精緻鋼鐵」、
							「綠能產業」是我們經營發展的兩大主軸，透過「智能化」讓中鋼再精進升級，希冀保持領先的競爭力。為慶祝中鋼50周年，特別舉辦「人工智慧挑戰賽」，挑戰賽的主題
							與智能化鋼胚的管理有密切的相關。本次參賽者要以人工智慧演算法，實現鋼胚上印刷或手寫序號的自動判別，將有助於問題源的返溯及品質的控管。參賽者除了要能辨識
							正常印刷之序號（含數字及英文字母），還得針對手寫序號、序號上下顛倒、重複印刷序號、或序號模糊等情況做有效的處理，
							以發展出適合實際產線運作的序號辨識系統。</p>
						<a href="{{ url_for('chinasteel') }}" class="btn btn-primary">
							進入預測模型
						</a>
						<a href="https://github.com/DingHsun/T-Brain-ChinaSteel-Competition" target="_blank" class="btn btn-primary">
							專案GitHub
						</a>
						<a href="https://tbrain.trendmicro.com.tw/Competitions/Details/17" target="_blank" class="btn btn-primary">
							競賽資訊
						</a>
					</div>
				</div>
			</div>
			<div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
				<div class="col d-flex align-items-start">
					<div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
						<img class="d-block mx-auto mb-4" src="../static/Icon.png" alt="" width="50" height="50">
					</div>
					<div>
						<h3 class="fs-2">無人機飛行載具之智慧計數競賽</h3>
						<p>近年來科技高度發展所帶來之影響，已逐漸深入人類生活環境。無人飛行載具提供更寬廣的視野及更高度的移動性和靈活性，至今已被應用在許多不同產業領域，
							如地理資訊蒐集、交通監控、物品運送、通訊網路中繼站等不同類型。本次計畫著重於AI與影像辨識及無人飛行載具應用，期望參賽者以日常生活可能遭遇之問
							題為出發點，將深度學習原理作為基礎，運用相關人工智慧核心知識深入發展應用，進而將無人飛行載具相關技術應用於實際環境中，結合不同領域之人才並發
							揮創意，將平時所學專業知識確實落地，提升個人及團隊之實作能力與競爭力。 本次競賽主題為AI與影像辨識-無人機飛行載具之智慧計數（車輛與人群計數），
							無人機載具有高度移動性以及遠距遙控功能，能夠快速且輕易到達不容易接近的區域，搭配高解析度相機即如同鷹眼般，能從空中俯視地表，並將地表一切變化詳
							實記錄在影像中而不遺漏，目前國內尚無此空拍影像分析之比賽，此計畫將以無人機空拍影像為基礎，運用深度學習原理等相關訓練模組進行車輛與人群數量辨識。</p>
						<a href="{{ url_for('yolo') }}" class="btn btn-primary">
							進入預測模型
						</a>
						<a href="https://github.com/DingHsun/AI-CUP-Competition" target="_blank" class="btn btn-primary">
							專案GitHub
						</a>
						<a href="https://tbrain.trendmicro.com.tw/Competitions/Details/25" target="_blank" class="btn btn-primary">
							競賽資訊
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>